$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$primary-background-color: yellow;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $primary-background-color;
}