<p>Login screen</p>

<div class="p-col-12 p-md-4">
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">
            <i class="pi pi-user" style="line-height: 1.25;"></i></span>
        <input type="text" pInputText placeholder="Username" [(ngModel)]="username">
    </div>
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">
            <i class="pi pi-key" style="line-height: 1.25;"></i></span>
        <input type="password" pPassword placeholder="Password" [(ngModel)]="password"/> 
    </div>

    <button class="ui-button ui-widget ui-corner-all ui-button-text-only" 
    pButton type="button" label="Login" (click)="handleClick()">
        <span class="ui-button-text ui-clickable">Login</span>
    </button>
</div>